
img{
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
}
.movies{
  display: flex;
  margin:3%;
  margin-left: 4%;
  flex-wrap: wrap;
  
  
}
.navigation-bar{
    background-color: black;
    display: flex;
    justify-content:space-between;
    height:13%;
    padding:2% 6%;

}
.search{
    background-color: white;
    border-color:#E4DCCF;
    border-radius:10px;
    margin-top:4%;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.movie-info{
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color:white;
    padding: 5%; 
    width:100%;
}
.movie{
    border-radius: 10px;
    width:300px;
    margin: 1%;
    padding: 0;
    position:relative;
    background-color: black;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.movie span{
    background-color: #282A3A;
    padding:3%;
    margin:0;
    height: 100%;
    border-radius: 7px;
}
.movie-info span.green {
    color: lightgreen;
}
  
.movie-info span.orange {
    color: orange;
}
  
.movie-info span.red {
    color: red;
}
.overview{
    font-size: 15px;
    visibility: hidden;
    background-color: aliceblue;
    color:#282A3A;
    text-align: center;
    padding:13%;
    border-radius: 3px;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    max-height: 100%;
    transform: translateY(100%);
    overflow-y: auto;
    transition: transform 0.3s ease-in
}
.movie:hover .overview {
    transition-duration: 0.5s;
    visibility: visible;
    transform: translateY(-5%);
  }

.movie:hover{
    transition-duration: 1.5s;
 
   width: 330px;
}

.watch-button{
    height:2%;
    width:40%;
    background-color: #282A3A;
    color:aliceblue;
    border: none;
    border-radius: 5px;
    padding:3%;
}
.watch-button:hover{
    font-size: 105%;
    transition-duration: 1s;
    letter-spacing: 0.5px;
    width:45%;
    background-color:#474E68;
    color:white;
    visibility: 50%;
}


.content{
    background-color: azure;
    height:84%;
    width:50%;
    position: fixed;
    top:9.6%;
    left:25%;
}
.close-button{
    position: absolute;
    right:2%;
    top:2%;
    border-radius: 100%;
    border: none;
    background-color: white;
    color: aliceblue;
    width:5%;
    height:5%;
}


.copyright{
    position: fixed;
    bottom:0;
    background-color:white;
    color:black;
    text-align:center;
    font-family: monospace;
    width:100%;
    height:3%;
}